body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h3{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 5rem;
  margin: 0;
  }
  *{
    scroll-behavior: smooth;
  }
  .main{
    display: flex;
  }
  .navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-image: linear-gradient(30deg, #000000, #43575C);
    height: 100vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333;
    padding-top: 20px;
  }
  .navbar a {
    font-size: 2vh;
    font-family: "Playwrite BE VLG", cursive;
    color: #fff;
    display: block;
    padding: 12px 30px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
  .navbar a:hover {
    color: #3f5efb;
    background-color: #fff;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
#container{
  position: relative;
}
.name{
  text-shadow:2px 2px 5px #888888 ;
}
  .entry{
    height: 100vh;
    width: 100vw;
    background-color: #00b7ff;
    background-image: url('background.png');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}
.left{
  height: 100%;
  width: 60%;
  margin: 50px;
  color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.right{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 20px 0;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
  }
  .content {
    flex: 1;
    position: relative;
    margin: 3px;
    border: solid;
    background-color: whitesmoke;
    scroll-snap-type: y mandatory;
  }
 .content h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  margin: 0;
 }
 #intro{
  height: 96vh;
  width: 95%;
  display: flex;
  background-image: url(images/layered-waves-haikei.svg);
  background-size: cover;
  background-color: #232D3F;
  background-repeat: no-repeat;
  gap: 5%;
 }
 #intro .intro-content{
  width: 60%;
  font-family: "Montserrat", sans-serif;
  padding: 25px;
  font-size: 1.3rem;
 }
 #intro .image{
  display: flex;
  justify-items: center;
  align-items: center;
  height: 70%;
 }
 #intro h1{
  background: rgb(2,0,36);
  font-size: 4rem;
  font-family: "Outfit", sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,87,92,1) 0%, rgba(15,189,249,1) 100%);
  -webkit-background-clip: text; /* clip the background to the text inside the tag*/
-webkit-text-fill-color: transparent; 
}
#skills{
  width: 95%;
}
  .skill{
  display: flex;
  font-size: 1.5rem;
  gap: 10px;
 }
 .heading{
  font-size: 2.5rem; 
  margin: 0;
  font-family: "Grandstander", cursive;
 margin-bottom: 5px;
 
 }
 .programming , .web ,.ml{
  padding: 10px;
  width: 30%;
  background-color: beige;
  border: double 0.3px;
  box-shadow: 4px 4px black;
  
 }
 .programming {
  background: linear-gradient(to right, #f0f0f0 30%, #b2ebf2 70%);
}

.web {
  background: linear-gradient(to right, #393e46 30%, #222831 70%);
  color: white;
}

.ml {
  background: linear-gradient(to right, #e0f7fa 30%, #b2ebf2 70%);
}

 .skill img{
  height: 50px;
  width: 50px;
 }
 .section-heading{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,87,92,1) 0%, rgba(15,189,249,1) 100%);
  -webkit-background-clip: text; /* clip the background to the text inside the tag*/
-webkit-text-fill-color: transparent; 
 }
 .skillscontent{
  display: flex;
  justify-content: space-around;
 }
.outer-circle {
    width: 400px;
    position: relative;
    height: 400px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#skills{
  padding: 10px;
}
.inner-circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 0 10px black;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 9rem;
    z-index: 2;
    /* animation: blink 2s infinite; */
}
.outer-circle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background:white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: ripple 3s infinite;
  pointer-events: none; /* Ensure the ripple does not interfere with other elements */
}
#education{
  width: 95%;
  padding: 10px;
  padding-top: 30px;
  background-size: cover;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
.education-entry{
  background-color: white ;
  display: flex;
  border-radius: 20px 20px;
 width: 60%;
 margin-bottom: 20px;
}
.education-entry p {
  font-size: 20px;
}
.education-entry .edleft{
  border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
  width: 10%;
}
.education-entry .edright{
 padding-left: 10px;
 display: flex;
 flex-direction: column;
}
.education-entry h3{
  font-size: 30px;
  margin-top: 20px;
}

#projects {
  /* font-family: Arial, sans-serif; */
  margin-left: 20px;
  display: flex;
  width: 95%;
  flex-direction: column;
  gap: 20px;
}

.project {
  width: 20vw;
  height: 250px;
  display: flex;
  cursor: pointer;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.project:hover {
box-shadow: 0 8px 26px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.25);
}

.project .content{
padding: 15px;
border: solid 0;
width: 60vw;
}
.project .img {
 height: 250px;
 width: 20vw;
 background-size: cover;
 background-repeat: no-repeat;
    border-radius: 10px;
}
.project .title{
  font-weight: bold;
  font-size: 2rem;
  color: #478CCF;
}
/* Add alignment logic */
.project:nth-child(odd) {
align-self: flex-start;
}

.project:nth-child(even) {
align-self: flex-end;    }

.project button {
padding: 12px 30px;
border-radius: 50px;
cursor: pointer;
border: 0;
background-color: white;
box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
letter-spacing: 1.5px;
text-transform: uppercase;
font-size: 15px;
transition: all 0.5s ease;
}

.project button:hover {
letter-spacing: 3px;
background-color:#4535C1;
color: hsl(0, 0%, 100%);
box-shadow: #4535C1 0px 7px 29px 0px;
}
/* p{
color: #4535C1; 
} */
.project button:active {
letter-spacing: 3px;
background-color:#4535C1;
color: hsl(0, 0%, 100%);
box-shadow: #4535C1 0px 0px 0px 0px;
transform: translateY(10px);
transition: 100ms;
}
.show{
  animation: show 1s 1 ease-in ;
}/* Contact Page Styles */
#contact{
  background-image: url(images/Mass\ Circles.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-section {
  padding: 20px;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-header {
  margin-bottom: 20px;
}

.contact-details {
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-details p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.contact-links li {
  margin: 10px 0;
}

.contact-links a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  color: white;
  background-color: rgb(6, 63, 128);
  border-radius: 10px;
  transition: color 0.3s ease;
}

.contact-links a:hover {
  filter: drop-shadow(0 0 0.75rem rgb(70, 70, 70));
}

/* Responsive Styles for Contact Page */
@media (max-width: 992px) {
  .contact-details {
      width: 80%;
  }
}

@media (max-width: 768px) {
  .contact-details {
      width: 90%;
  }
}

@media (max-width: 576px) {
  .contact-details {
      width: 100%;
      padding: 10px;
  }
  .contact-details p, .contact-links a {
      font-size: 1rem;
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

@keyframes show {
  0% {
  width: 20vw;
  }
  100% {
    width: 70vw;;
  }
}


.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
 }

 